.selectable {
  cursor: pointer;
}

.options_menu {
  margin-left: 100px;
  margin-top: 50px;
  max-width: 600px;
}

.options_list {
  margin-left: 20px;
  margin-top: 20px;
}

.edit_icon {
  margin-right: 5px;
}

.edit_option {
  display: none;
}
